<!DOCTYPE html>
<html lang="en">
   <head>
      <title>Node Server</title>
        <link rel="stylesheet" type="text/css" href="style.css">
        <!-- <script type="text/javascript" src="jquery-3.2.1.js"></script> 
        <script type="text/javascript" src="script.js"></script> -->
      <meta charset="UTF-8">
      <meta name="description" content="Nodeserver">
    </head>
    <body>
        <div id = "wrapper">
            <div id ="header">
                <h1>Node server</h1>
            </div>
            <p>Nodeserver running- welcome!</p>
            <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam nulla sapien, scelerisque non pellentesque nec, finibus eu ex. Aliquam ultrices sapien purus. Quisque mauris enim, mollis at tincidunt a, dictum in dolor. Suspendisse enim lectus, dictum quis lectus eu, convallis faucibus velit. Suspendisse aliquam lacus vitae feugiat accumsan. Donec ultricies convallis nulla, vel consequat ex bibendum sit amet. Ut finibus, velit non hendrerit tristique, nisi turpis eleifend ipsum, vitae rhoncus est ipsum eu ipsum. Aliquam suscipit condimentum elit, vel condimentum nulla commodo vel. Donec fringilla non lectus at condimentum. Vivamus interdum nisl nec tellus dictum, vel eleifend felis ultricies. Nunc egestas massa a blandit scelerisque.</p>
                    
            </div>
        </div>
    </body>
    </html>