/*CSS reset settings here*/
* {
}

H1{
    font-size: 36px;
    font-weight:100;
    font-family: 'Press Start 2P', cursive;
}
H2{
    font-size:18px;
    font-family: 'Press Start 2P', cursive;
}
p{
    font-family: 'Press Start 2P', cursive;
}
a{
    color:#7ACEF4;
}
#abilities {
    text-align: center;  
    margin-bottom: 20px;  
    font-family: "Arial", "Helvetica", sans-serif;
    font-weight: normal;
    font-size: 22px;
    background:#333;
    padding:10px;
    border: 1px solid #CCC;
    color: #FFF;
}

input[type="text"], input[type="email"], textarea {
    padding: 10px;
    border: 1px solid #333;
    background:#CCC;
    margin: 10px;
}
table, form{
    border: 1px solid #ccc;
    padding: 10px;
    font-family: 'Press Start 2P', cursive;
    font-size: 18px;
    border-radius: 4px;
}
.left, .right {
    display: inline-block;
    width: 400px;
    vertical-align: top;
    margin: 10px;
    background: #b5bdc8;
    background: -moz-linear-gradient(top, #b5bdc8 0%, #828c95 0%, #828c95 1%, #828c95 1%, #828c95 9%, #828c95 9%, #828c95 14%, #b3c7d8 40%, #828c95 68%, #8b9e8c 87%, #828c95 94%, #828c95 100%, #28343b 100%);
    background: -webkit-linear-gradient(top, #b5bdc8 0%,#828c95 0%,#828c95 1%,#828c95 1%,#828c95 9%,#828c95 9%,#828c95 14%,#b3c7d8 40%,#828c95 68%,#8b9e8c 87%,#828c95 94%,#828c95 100%,#28343b 100%);
    background: linear-gradient(to bottom, #b5bdc8 0%,#828c95 0%,#828c95 1%,#828c95 1%,#828c95 9%,#828c95 9%,#828c95 14%,#b3c7d8 40%,#828c95 68%,#8b9e8c 87%,#828c95 94%,#828c95 100%,#28343b 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b5bdc8', endColorstr='#28343b',GradientType=0 );
    margin:20px;
    padding: 10px;
    box-shadow: 0 0 10px 3px #333 inset;
    min-height:400px;
}
.right {
   
}
.card {

}
.card2 {
    width: 200px;
    border: 1px solid #CCC;
}
#wrapper{
        width: 970px;
        margin: 0px auto;
        clear: both;
        overflow: hidden;
        background:#C0C0C0;
        padding:10px;
        }
#header{
    padding: 20px;
    background:red;
    color:#FFF;
    margin-bottom:10px;
}
.main_content{
    padding: 15px;
    position:relative;
    box-shadow: 0 0 10px 30px #fa033d inset;
    border: 1px solid #fa033d;
    border-radius: 4px;
    margin-bottom:10px;
    min-height: 600px;
    background: #a90329;
    background: -moz-linear-gradient(top, #a90329 0%, #a90329 24%, #8f0222 53%, #8f0222 53%, #a90329 67%, #6d0019 100%);
    background: -webkit-linear-gradient(top, #a90329 0%,#a90329 24%,#8f0222 53%,#8f0222 53%,#a90329 67%,#6d0019 100%);
    background: linear-gradient(to bottom, #a90329 0%,#a90329 24%,#8f0222 53%,#8f0222 53%,#a90329 67%,#6d0019 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a90329', endColorstr='#6d0019',GradientType=0 );
    border-radius: 10px;
}
#abilities {
    color: red;
    font-weight: 700;
}

#footer{
    text-align: center;
    }
#footer a{
    font-style: italic;
}  