div.header {
  height: 100px;
  text-align: center;
}
section {
  height: 100px;
  text-align: center;
}
button {
  width: 100px;
  height: 50px;
  margin-left: 75px;
  font-size: 1.5em;
  font-weight: bold;
}
.selected {
  background-color: yellow;
}
