<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Form</title>
        <meta charset="utf-8">
        <meta http-equiv="Content-Type" content="text/html;charset=ISO-8859-1"> 
        <meta name="description" content="Form" >
    </head>
    <body>
        <form action='/results' method='post'>
            <p>Name: <input type='text' name='name'></p>
            <p>Location:
            <select name="location">
                    <option value="Seattle">Seattle</option>
                    <option value="San Francisco">San Francisco</option>
                    <option value="Washington DC">Washington DCK</option>
                  </select></p>
            <p>Favorite Language:
            <select name="Language">
                    <option value="Python">Python</option>
                    <option value="JavaScript">JavaScript</option>
                    <option value="Spanish">Spanish</option>
                </select></p>
            <p><textarea name="message" rows="10" cols="30">Enter your message. Not optional.</textarea></p>     
            <input type='submit' value='submit'>
        </form>                                 
    </body>
</html>
