<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Output</title>
        <meta charset="utf-8"/>
        <meta http-equiv="Content-Type" content="text/html;charset=ISO-8859-1"> 
        <meta name="description" content="Output" >
    </head>
    <body>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
              {% for message in messages %}
                <p>{{message}}</p>
              {% endfor %}
            {% endif %}
        {% endwith %}
        <h1>Submitted input</h1>
        <p>Name: {{ name }}</p>  
        <p>Location: {{ location }}</p>   
        <p>Location: {{ language }}</p> 
        <p>Message: {{ message }}</p>                              
    </body>
</html>
