<div class="container">
  <section class="username">
    <h1>Github Score</h1>
    <form (submit)="calculateScore(form)" #form="ngForm">
      <label for="username">
        Github Username:
        <input type="text" name='username' required [ngModel]="username">
      </label>
      <button [disabled]="form.invalid">Calculate my Github Score</button>
    </form>
  </section>
  <section class="display">
    <div *ngIf="userExists">
      <h1>{{ score }}</h1>
      <h5 class='red' *ngIf="score < 20">Needs Work!</h5>
      <h5 class='orange' *ngIf="score >= 20 && score < 50">A decent start!</h5>
      <h5 *ngIf="score >= 50 && score < 100">Doing good!</h5>
      <h5 class='green' *ngIf="score >= 100 && score < 200">Great Job!</h5>
      <h5 class='blue' *ngIf="score >= 200">Github Elite!</h5>
    </div>
    <div *ngIf="userExists === false">
      <h3>User '{{ username }}' does not exist, choose a different github username.</h3>
    </div>
  </section>
</div>
