<!DOCTYPE html>
  <html>
    <head>
      <meta charset="utf-8">
      <title>Amadon</title>
        {% load static %}
      <!-- The line above tells Django to be ready to listen for static files -->
      <link rel="stylesheet" href="{% static 'store/css/style.css' %}" media="screen" title="no title"  charset="utf-8">
      <!-- Put the static files in the static folder inside your app.  Django collects files within all static folders and puts them within a single folder -->    
      </head>
    <body>
      <div id="wrapper">
         
        <h1>Amadon</h1>
        <table><th>Item</th><th>Price</th><th>Actions</th>
        {% for item in request.session.items %}
        <tr>
        <td>{{ item.0 }}</td>
        <td>$ {{ item.1 }}</td>
        <td>   <form action="/create" method="post">
          {% csrf_token %} 
          <p>Qty:  <select name="quantity">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
          </select> 
          <input type='hidden' name='product_id' value='{{ item.2 }}' />
          <input type="submit" value="submit" class="button">
        </form></td></tr>
        {% endfor %}
      
      </table>
          
        </div>
    </body>
  </html>