/*CSS reset settings here*/
* {
}

H1{
    font-size: 36px;
    font-weight:100;
    font-family: Arial, Helvetica, sans-serif;
}
H2{
    font-size:18px;
    font-family: Arial, Helvetica, sans-serif;
}
p{
    font-family: Arial, Helvetica, sans-serif;
}
a{
    color:#6d0019;
}

button {
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color:#FFF;
    border: 1px solid #333;
    background:#6d0019;
    margin: 10px;
}
#wrapper{
        width: 970px;
        margin: 0px auto;
        clear: both;
        overflow: hidden;
        padding:10px;
        }
#header{
    padding: 20px;
    background:#333;
    color:#FFF;
    margin-bottom:10px;
}
.main_content{
    padding: 15px;
}
#footer{
    text-align: center;
    }
#footer a{
    font-style: italic;
}  